<link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css" />
<div class="container ">

      <a href="/admin/add-user" class="btn btn-success mt-3 mb-4">Add User</a>


<div style=" overflow:scroll" >
<table class="table mt-3 display" id="myTable" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Contact</th>
      <th scope="col">Completed</th>
      <th scope="col">Pending</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
 <tr>
      <th scope="row">{{@index}}</th>
      <td>{{name}} </td>
      <td>{{number}} </td>
      <td>{{success}}</td>
      <td>{{ pending}}</td>
      <td><a href="/admin/edit/{{number}}" class="btn btn-primary">Edit</a>
      </td>
 </tr>
    {{/each}}
   


  </tbody>
</table>
</div>


</div>
  
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>