<div class="container ">

      <a href="/admin/add-user" class="btn btn-success mt-3 mb-4">Add User</a>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Works</th>
      <th scope="col">Start</th>
      <th scope="col">Estimate</th>
      <th>Advanced</th>
      <th>Remaining</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
         {{#each completed}}
         {{#each works}}
    <tr>
 
      <th scope="row">1</th>
      <td>{{title}}</td>
      <td>{{initialized}} </td>
      <td>{{estimate}} </td>
      <td>{{advance}}</td>
      <td>{{remaining}}</td>
      <td><a href="/admin/edit-work/{{id}}" class="btn btn-primary">Edit</a></td>
    </tr>
         {{/each}}
         {{/each}}


  </tbody>
</table>
</div>