 <header class="masthead" >

<div class="container  ">
  <a href="https://wa.me/+0000000000000" class="btn-success btn">+ Chat</a>
<div class="mt-3 p-3  rounded shadow mask-custom" style="overflow-x:scroll; ">
<table class="table " style="color: #e8e8e8">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Discription</th>
      <th scope="col">Status</th>
      <th scope="col">View Progress</th>
    </tr>
  </thead>
  <tbody>
    {{#each details.works}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{title}}</td>
      <td>{{description}}</td>
      {{#if pending}}
      <td>
        <span class="badge badge-warning rounded-pill d-inline bg-warning bg-opacity-50">Awaiting</span>
      </td>
      {{else}}
      <td>
        <span class="badge badge-success rounded-pill d-inline bg-success bg-opacity-75">Completed</span>
      </td>
      {{/if}}
      
      <td><a href="/users/progress/{{id}}" class="btn btn-primary">Check</a></td>
    </tr>
    {{/each}}
    

  </tbody>
</table>
</div>
</div>
</header>

<style>



.mask-custom {
  background: rgba(24, 24, 16, .2);

  backdrop-filter: blur(25px);
 

}
</style>